/* Recipes App Container */
#recipes-app {
  overflow-x: hidden; /* hides horizontal scrollbar */
  overflow-y: hidden; /* hides vertical scrollbar */
  padding: 0% 1%;
  border: 3px dashed purple;
}

/* Search Bar for Recipes */
#search-recipes {
  border: 1px solid blue;
}

  .recipes-searchbar {
    /* border: 2px dashed black; */
    margin: 1% 15%;
    display: flex;
  }

  .recipes-searchbar .searchbar {
    background-color: lightblue;
    width: 75%;
    padding: 1%;
    border: none;
    outline: none;
  }

  .recipes-searchbar .searchbar-button {
    background-color: lightgoldenrodyellow;
    border: 1px solid red;
    width: 25%;
    padding: 1%;
  }

  .search-header-name {
    font-size: 1.5rem;
    text-align: left;
  }
  
/* Recipes Grid Container List */ 
.recipes-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 34% 33%;  
}

  .recipes-grid-container > div {
    border: 2px solid black;
    margin: 1px;
    padding: 1% 4%;
    text-align: center;
  }

  .recipes-grid-container .recipe-link {
    text-decoration: none;
    color: inherit;
  }

  .recipes-grid-container .recipe-item img {
    max-width: 80%;
    border-radius: 10px;
  }

  .recipes-grid-container .recipe-item {
    border: 3px solid orange;
  }

  .recipes-grid-container .recipe-item .test {
    border: 3px solid green;
  }


  /* .recipes-grid-container .recipe-item .recipe-thumbnail {
    width: 80%;
    max-width: 200px;
    height: inherit;
    overflow: hidden
  }

  .recipe-item {
    text-align: center;
  }

  .test {
    height: auto; 
    overflow: hidden; 
  }

  .recipe-image-box {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .recipe-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  .recipes-grid-container .recipe-item .recipe-thumbnail {
    width: 80%;
    height: 300px; /* Set a fixed height for consistency */
    overflow: hidden;
  }
  
  .recipe-item {
    text-align: center;
  }
  
  .test {
    height: auto;
    overflow: hidden;
  }
  
  .recipe-image-box {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .recipe-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* Recipe Details Page */

.recipe-details .recipe-action-buttons {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.recipe-details .recipe-action-buttons > button {
  border: 1px dashed black; 
  background-color: white;
  width: 10%;
  padding: 0.25%;
  margin: 0px 1%;
}

.recipe-details .recipe-name  {
  width: 98%;
  border: 1px solid purple;
  font-size: 1.5rem;
  margin: 1%;
}

.recipe-details .recipe-description {
  width: 98%;
  border: 2px solid orange;
  margin: 1%;
}

.image-ingredients {
  display: flex;
}

.image-ingredients .recipe-image {
  width: 60%;
  border: 2px solid lawngreen;
  margin: 1%;
}

.image-ingredients .recipe-image img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.recipe-details img {
  object-fit: contain;
  max-height: 400px;
  width: 80%;
  margin: 1%;
}

.recipe-details .recipe-ingredients-instructions {
  width: 100%;
  border: 3px solid black;
  display: flex;
  margin: 1%;
}

.recipe-details .image-ingredients .ingredients-list > div {
  text-align: left;
  margin-left: 2%;
 }

.recipe-details .recipe-ingredients {
  width: 40%;
  border: 1px solid violet;
  margin: 1%;
}

.recipe-details .recipe-instructions {
  width: 98%;
  border: 1px solid blue;
  margin: 0% 1%;
}

.recipe-details .recipe-instructions .instructions-list > ol {
  text-align: left;
}