#search-recipes {
  border: 1px dashed blue;
}

.recipes-searchbar {
  border: 1px solid black;
  margin: 0% 15%;
  display: flex;
  padding: 1%;
}

.recipes-searchbar .searchbar {
  background-color: lightcoral;
  width: 75%;
}

.recipes-searchbar .searchbar-button {
  background-color: lightgoldenrodyellow;
  width: 25%;
}