#App {
  text-align: center;
  width: 100%;
  overflow-x: hidden !important; /* hides horizontal scrollbar */
}

#app-header {
  width: 100%;
  min-height: 2rem;
  text-align: middle;
  background-color: #F6F2EF;
}

#navigation-bar {
  width: 100%;
  background-color: #ffffff;
}

#app-body {
  width: 100%;
  background-color: #D9CFC5;
}

#app-footer {
  width: 100%;
  min-height: 5rem;
  background-color: #F6F2EF;
}